:root {
  --white-rgb: 255, 255, 255;
}

.wrapper {
  max-width: 1202px;
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;
}
.wrapper .main {
  display: flex;
  align-items: center;
  padding-bottom: 100px;
}
.wrapper .main .main-text__sale {
  background-color: rgba(var(--white-rgb), 0.1);
  display: inline-block;
  padding: 8px 12px 8px 4px;
  border-radius: 32px;
  font-family: Rubik, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: #FFFF;
}
.wrapper .main .main-text__sale span {
  background-color: #FFFF;
  color: black;
  border-radius: 32px;
  padding: 4px 16px;
  margin-right: 16px;
  font-family: Rubik, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
}
.wrapper .main .main-text__title {
  font-family: Rubik, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 76px;
  color: #FFFF;
  max-width: 588px;
  padding-top: 10px;
}
.wrapper .main .main-text__description {
  font-family: Rubik, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.5;
  color: #E0E0E0;
  max-width: 435px;
  margin-top: 24px;
}
.wrapper .main .main-text__link {
  padding-top: 32px;
}
.wrapper .main .main-text__link .main-text__link-btn {
  margin-top: 32px;
  font-family: Rubik, sans-serif;
  background-color: #3671E9;
  color: #FFFF;
  padding: 14px 32px;
  border-radius: 32px;
  font-weight: 500;
}
.wrapper .main .main-img {
  flex-grow: 1;
}
.wrapper .main .main-img .main-img__image {
  width: 100%;
}
.wrapper .stat {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 100px;
  padding-bottom: 128px;
}
.wrapper .stat .stat-item {
  display: flex;
  align-items: center;
}
.wrapper .stat .stat-item .stat-item__icon {
  background-color: rgba(var(--white-rgb), 0.1);
  width: 80px;
  height: 80px;
  border-radius: 100%;
  margin-right: 24px;
  background-repeat: no-repeat;
  background-position: center center;
}
.wrapper .stat .stat-item .stat-item__icon--01 {
  background-image: url("images/stat1.svg");
}
.wrapper .stat .stat-item .stat-item__icon--02 {
  background-image: url("images/stat2.svg");
}
.wrapper .stat .stat-item .stat-item__icon--03 {
  background-image: url("images/stat3.svg");
}
.wrapper .stat .stat-item .stat-item__text {
  color: #E0E0E0;
  font-family: Rubik, sans-serif;
}
.wrapper .stat .stat-item .stat-item__text span {
  display: block;
  font-family: Rubik, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  color: #FFFF;
}
.wrapper .text {
  text-align: center;
  padding-top: 100px;
}
.wrapper .text .text__title {
  font-family: Rubik, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 150%;
  color: #FFFF;
}
.wrapper .text .text__description {
  font-family: Rubik, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 150%;
  color: #E0E0E0;
  max-width: 622px;
  margin: 0 auto;
}
.wrapper .calc-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #FBFCFE;
  border-radius: 16px 16px 0 0;
  max-width: 942px;
  margin: 0 auto;
  padding: 15px 35px;
}
.wrapper .calc-head .calc-head__input {
  font-family: Rubik, sans-serif;
  font-size: 20px;
  color: black;
  border: none;
  border-bottom: 1px solid #E0E0E0;
  flex-grow: 1;
}
.wrapper .calc-head .calc-head__select {
  color: black;
  font-size: 18px;
  flex: 0 0 200px;
  border: none;
  border-bottom: 1px solid #E0E0E0;
  margin-right: 48px;
  margin-left: 48px;
}
.wrapper .calc-head .calc-head__btn {
  font-family: Rubik, sans-serif;
  padding: 16px 32px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  border-radius: 32px;
  background-color: #3671E9;
  color: #FFFF;
  outline: none;
  border: none;
}

.page-light {
  background: linear-gradient(180deg, #F8F9FB 0%, #FAFBFF 100%);
}
.page-light .calc-foot {
  max-width: 942px;
  margin: 0 auto;
  background: #FFFFFF;
  border-radius: 0 0 16px 16px;
  padding: 0 32px 48px 0;
}
.page-light .calc-foot .calc-foot__title {
  font-family: Rubik, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #3671E9;
  padding-top: 48px;
  margin: 0;
}
.page-light .calc-foot .calc-foot__total {
  padding-top: 16px;
  margin: 0;
  font-family: Rubik, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 150%;
  color: #0D0D2B;
}
.page-light .calc-foot .calc-foot__total span {
  color: #3671E9;
}
.page-light .calc-foot .calc-foot__description {
  margin: 0;
  font-family: Rubik, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
  color: #828282;
}

/*# sourceMappingURL=body.css.map */
