@import "variables";

:root {
  --white-rgb: 255, 255, 255;
  --purple-rgb: 43, 7, 110;
}

.wrapper {
  max-width: 1202px;
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;

  .main {
    display: flex;
    align-items: center;
    padding-bottom: 100px;

    @media (max-width: 900px) {
      flex-direction: column-reverse;
      padding-bottom: 50px;
    }

    @media (max-width: 400px) {
      padding-bottom: 20px;
    }

    .main-text__sale {
      background-color: rgba(var(--white-rgb), 0.1);
      display: inline-block;
      padding: 8px 12px 8px 4px;
      border-radius: 32px;

      font-family: Rubik, sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      color: $white-color;

      @media (max-width: 400px) {
        display: none;
      }

      span {
        background-color: $white-color;
        color: black;
        border-radius: 32px;
        padding: 4px 16px;
        margin-right: 16px;

        font-family: Rubik, sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
      }
    }

    .main-text__title {
      font-family: Rubik, sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 64px;
      line-height: 76px;
      color: $white-color;
      max-width: 588px;
      padding-top: 10px;

      @media (max-width: 570px){
        font-size: 50px;
        line-height: 63px;
      }

      @media (max-width: 481px){
        font-size: 40px;
        line-height: 55px;
      }
    }

    .main-text__description {
      font-family: Rubik, sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 1.5;
      color: #E0E0E0;
      max-width: 435px;
      margin-top: 24px;
    }

    .main-text__link {
      padding-top: 32px;

      .main-text__link-btn {
        margin-top: 32px;
        font-family: Rubik, sans-serif;
        background-color: $light-blue-color;
        color: $white-color;
        padding: 14px 32px;
        border-radius: 32px;
        font-weight: 500;
      }

      .main-text__link-btn:hover{
        background: #59a2f0;
      }
    }

    .main-img {
      flex-grow: 1;

      .main-img__image {
        width: 100%;
      }
    }
  }

  .stat {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 100px;
    padding-bottom: 128px;
    flex-wrap: wrap;

    @media (max-width: 890px) {
      padding-top: 40px;
      padding-bottom: 40px;
    }

    @media (max-width: 881px) {
      justify-content: center;
    }

    @media (max-width: 570px) {
      display: block;
      margin: 0 auto;
    }


    .stat-item {
      display: flex;
      align-items: center;

      .stat-item__icon {
        background-color: rgba(var(--white-rgb), 0.1);
        width: 80px;
        height: 80px;
        border-radius: 100%;
        margin-right: 24px;
        background-repeat: no-repeat;
        background-position: center center;
      }

      .stat-item__icon--01 {
        background-image: url("images/stat1.svg");
      }

      .stat-item__icon--02 {
        background-image: url("images/stat2.svg");
      }

      .stat-item__icon--03 {
        background-image: url("images/stat3.svg");
      }

      .stat-item__text {
        color: #E0E0E0;
        font-family: Rubik, sans-serif;

        span {
          display: block;
          font-family: Rubik, sans-serif;
          font-style: normal;
          font-weight: bold;
          font-size: 40px;
          color: $white-color;
        }
      }
    }
  }

  .text {
    text-align: center;
    padding-top: 100px;

    @media (max-width: 900px) {
      padding-top: 50px;
    }

    @media (max-width: 570px) {
      padding-top: 0;
    }

    .text__title {
      font-family: Rubik, sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 40px;
      line-height: 150%;
      color: $white-color;

      @media (max-width: 629px){
        font-size: 35px;
      }

      @media (max-width: 554px){
        font-size: 30px;
      }

      @media (max-width: 479px){
        font-size: 25px;
      }
      @media (max-width: 404px){
        font-size: 20px;
      }
    }

    .text__description {
      font-family: Rubik, sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 150%;
      color: #E0E0E0;
      max-width: 622px;
      margin: 0 auto;
      padding-top: 24px;
      padding-bottom: 62px;

      @media (max-width: 562px){
        font-size: 15px;
        padding-bottom: 50px;
      }

      @media (max-width: 473px){
        font-size: 13px;
        padding-bottom: 43px;
      }

      @media (max-width: 414px){
        font-size: 10px;
        padding-bottom: 30px;
      }
    }
  }

  .calc-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FBFCFE;
    border-radius: 16px 16px 0 0;
    max-width: 846px;
    margin: 0 auto;
    padding: 62px 48px 55px 48px;
    flex-wrap: wrap;

    .calc-head__input {
      font-family: Rubik, sans-serif;
      font-size: 20px;
      color: black;
      border: none;
      border-bottom: 1px solid #E0E0E0;
      flex-grow: 1;
      outline: none;
    }

    .calc-head__select {
      color: black;
      font-size: 18px;
      flex: 0 0 200px;
      border: none;
      border-bottom: 1px solid #E0E0E0;
      margin-right: 48px;
      margin-left: 48px;

      @media (max-width: 662px) {
        width: 100%;
        margin-top: 20px;
        margin-right: 0;
        margin-left: 0;
        flex: none;
      }
    }

    .calc-head__btn {
      font-family: Rubik, sans-serif;
      padding: 16px 32px;
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      border-radius: 32px;
      background-color: $light-blue-color;
      color: $white-color;
      outline: none;
      border: none;

      @media (max-width: 808px){
        margin-top: 20px;
        width: 100%;
      }
    }

    .calc-head__btn:hover{
      background: #0051a8;
      cursor: pointer;
    }
  }
}

.page-light {
  background: linear-gradient(180deg, #F8F9FB 0%, #FAFBFF 100%);

  .calc-foot {
    max-width: 846px;
    margin: 0 auto;
    background: #FFFFFF;
    border-radius: 0 0 16px 16px;
    padding: 48px;

    @media (max-width: 470px) {
      text-align: center;
    }

    .calc-foot__title {
      font-family: Rubik, sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 150%;
      color: #3671E9;
      margin: 0;
    }

    .calc-foot__total {
      padding-top: 16px;
      margin: 0;
      font-family: Rubik, sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 32px;
      line-height: 150%;
      color: #0D0D2B;

      @media (max-width: 502px) {
        font-size: 25px;
      }

      @media (max-width: 415px) {
        font-size: 20px;
      }

      span {
        color: $light-blue-color;
      }
    }

    .calc-foot__description {
      margin: 0;

      font-family: Rubik, sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 28px;
      color: #828282;
    }
  }
}

.trade {
  padding: 100px 120px 32px 120px;

  @media (max-width: 645px) {
    padding: 70px 80px 32px 80px;
  }

  @media (max-width: 450px) {
    padding: 30px 40px 10px 40px;
  }

  .trade-title {
    max-width: 720px;
    margin: 0 auto;
    font-family: Rubik, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 150%;
    text-align: center;
    color: #0D0D2B;

    @media (max-width: 645px) {
      font-size: 30px;
    }

    @media (max-width: 450px) {
      font-size: 20px;
    }
  }
}

.crypto {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  padding-top: 32px;
  padding-bottom: 100px;
  justify-content: center;

  .crypto-item {
    padding: 48px 24px 48px 24px;
    text-align: center;
    color: black;
    background-color: $white-color;
    border-radius: 16px;
    box-sizing: border-box;
    transition: .2s ease background-color, .2s ease color;

    &:not(:first-child){
      @media (max-width: 849px) {
        margin-top: 30px;
      }
    }

    &:last-child{
      @media (max-width: 1229px) {
        margin-top: 30px;
      }
    }

    &:not(:last-child) {
      margin-right: 30px;

      @media (max-width: 819px) {
        margin-right: 15px;
        margin-left: 15px;
      }
    }

    &:not(:first-child){
      @media (max-width: 819px) {
        margin-top: 30px;
      }
    }


    .crypto-item__title {
      margin: 0;
      padding-top: 48px;
      padding-bottom: 16px;
      font-family: Rubik, sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 32px;
      text-align: center;
      color: #0D0D2B;
    }

    .crypto-item__description {
      margin: 0;
      max-width: 332px;
      font-family: Rubik, sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 28px;
      text-align: center;
      letter-spacing: 0.01em;
      color: #828282;
      padding-bottom: 25px;
    }

    .crypto-item__title sup {
      font-family: Rubik, sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 150%;
      text-align: center;
      color: #BDBDBD;
    }

    .crypto-item__btn {
      background-color: $white-color;
      font-family: Rubik, sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      color: $white-color;
      display: flex;
      align-items: center;
      max-width: 205px;
      margin: 0 auto;
      justify-content: center;
      text-decoration: none;
      border-radius: 32px;

      .crypto-item__btn-text {
        width: 0;
        transition: .3s ease width;
      }

      .crypto-item__btn-icon {
        background-color: $white-color;
        width: 64px;
        height: 64px;
        display: block;
        border-radius: 100%;
        background-image: url("images/arrow.svg");
        background-repeat: no-repeat;
        background-position: center center;
        border: 2px solid rgba(var(--purple-rgb), 0.2);
        transform: scale(1);
        transition: .3s ease border, .3s ease transform;
      }
    }
  }

  .crypto-item:hover {
    background-color: $purple-color;

    .crypto-item__title {
      color: white;
    }

    .crypto-item__description {
      color: white;
    }

    .crypto-item__btn {
      background-color: $light-blue-color;

      .crypto-item__btn-text {
        width: 133px;
      }

      .crypto-item__btn-icon {
        border: 2px solid $white-color;
        transform: scale(0.5);
      }
    }
  }
}

.page-gradient{
  background: linear-gradient(180deg, #2B076E 0%, #0D0D2B 100%);
  padding-top: 88px;
  padding-bottom: 88px;

  .form{
    background-color: $light-blue-color;
    border-radius: 16px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 48px;


    .form-text__title{
      font-family: Rubik, sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 32px;
      line-height: 150%;
      color: #FFFFFF;

      @media (max-width: 401px) {
        font-size: 28px;
      }
    }

    .form-text__description{
      font-family: Rubik, sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 28px;
      letter-spacing: 0.01em;
      color: #FFFFFF;
      max-width: 328px;
      padding-top: 16px;
    }

    .form-letter{
      padding-top: 24px;

      @media (max-width: 430px) {
        text-align: center;
        width: 100%;
      }

      .form-letter__input{
        font-family: Rubik, sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 28px;
        letter-spacing: 0.01em;
        width: 374px;
        color: #FFFFFF;
        border: none;
        border-bottom: 1px solid $white-color;
        background-color: transparent;
        outline: none;
        margin-right: 40px;

        ::placeholder{
          color: $white-color;
        }

        @media (max-width: 510px) {
          width: 100%;
        }

        @media (max-width: 430px) {
          width: 100%;
        }
      }

      .form-letter__btn{
        font-family: Rubik, sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 150%;
        color: #0D0D2B;
        border: none;
        border-radius: 32px;
        background-color: $white-color;
        padding: 14px 32px 14px 32px;

        @media (max-width: 699px){
          margin-top: 20px;
        }

        @media (max-width: 430px) {
          width: 100%;
        }
      }
      .form-letter__btn:hover{
        background: #c1d2e6;
        cursor: pointer;
      }
    }
  }
}


